@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("/fonts/FoundersGrotesk-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("/fonts/FoundersGrotesk-Semibold.otf") format("truetype");
  font-style: bold;
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  height: 8px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

/* Firefox styles */
html {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Thumb color and track color */
}
